services:
  api:
    build:
      dockerfile: Dockerfile
      context: .
      target: development
    volumes:
      - .:/usr/src/app
    env_file:
    - .env
    command: npm run start:dev
    depends_on:
      - redis
      - postgres
    ports:
      - 3000:3000

  redis:
      image: redis
      ports:
        - 6379:6379
      volumes:
        - redis:/data

  postgres:
    image: postgres:14.8
    restart: always
    environment:
      POSTGRES_DB: voucher_pool
      POSTGRES_USER: voucher_pool
      POSTGRES_PASSWORD: 123456
    ports:
      - '5432:5432'
    volumes:
      - voucher-pool-postgres:/var/lib/postgresql/data

volumes:
  redis:
    driver: local
  voucher-pool-postgres: